@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family:'VT323', monospace ;

}
body{
    background-image: url('../img/telainicial.webp');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: aliceblue;
    height: 100vh;
    margin: 0;
}